

.giris{
    background-image: linear-gradient(rgba(0,0,0, .9), rgba(0,0,0, .9)), url('image/kodd.jpg');
    background-size :cover;
    background-position:center center;
    background-attachment:fixed;
    
}
#giriss .container{
    height:50vh;
}
.generic{
    padding:100px 0;
}





