a{
    text-decoration: none;
    color:white;
    font-size:20px;
    
}
.bos{
    background-color:grey;
    float:left;
    height:1000px;
    width:112px;
}
.yazilar{
    position:absolute;
    top:9%;
    left: 8%;
}
h1{
    color:rgb(6, 6, 162);
}
h3{
    color:rgb(6, 6, 162);
}
img{
    width:500px;
    height:350px;
}
p{
    font-size:20px;
    font-family: Cambria;
}
.fotolar{
    color:blue;
    text-decoration:underline;
}
ul {
    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color: grey;

    
}

li {
    float: left;
    
    
}

li a {

    

   
    display: block;

    color: white;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

    
    
}

li a:hover:not(.aktif) {

    background-color: #111;
}

.aktif {

    background-color: blue;
}


