.kayisi{
    
    width:100px;
    height:70px;
    
}
.menu{
    
    text-align:center;
    background-color:grey;
    width:1700px;
    height:20px;   
    margin:0;        
}
a{
    text-decoration: none;
    color:white;
    font-size:20px;
    
}
.bos{
    background-color:grey;
    float:left;
    height:1000px;
    width:104px;
}
.yazilar{
    position:absolute;
    top:9%;
    left: 8%;
}
h1{
    color:rgb(6, 6, 162);
}
h3{
    color:rgb(6, 6, 162);
}
img{
    width:500px;
    height:350px;
}
p{
    font-size:20px;
    font-family: Cambria;
}
.fotolar{
    color:blue;
    text-decoration:underline;
}

